{% extends 'NantarenaAdminBundle::layout.html.twig' %}

{% block title 'news.admin.news.delete.title'|trans %}
{% block page_title 'news.admin.news.delete.title'|trans %}

{% block admin_content %}
    {% embed 'NantarenaAdminBundle::_deleteConfirm.html.twig' %}
        {% block back %}
            <a href="{{ path('nantarena_news_admin_index') }}">
                {{ 'news.admin.news.back'|trans }}
            </a>
        {% endblock %}
    {% endembed %}
{% endblock %}
