{% extends 'NantarenaForumBundle::layout.html.twig' %}

{% block title 'forum.thread.show.title'|trans({'%thread%': thread.name}) %}

{% block forum_content %}
    {% if thread.isLocked() %}
        <p class="pull-right label label-info">
            <i class="icon-lock"></i> {{ 'forum.thread.show.locked'|trans }}
        </p>
    {% endif %}

    <h2>
        {{ thread.name }}
    </h2>

    <table class="table">
        {% for post in pagination %}
            {% include 'NantarenaForumBundle:Post:_post.html.twig' %}
        {% endfor %}
    </table>

    {% include 'NantarenaForumBundle:Control:_thread.html.twig' %}

    {{ knp_pagination_render(pagination) }}

    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        {% embed 'NantarenaForumBundle:Form:_quick_reply.html.twig' with {'submit': 'forum.form.post.reply.submit'|trans} %}
        {% endembed %}
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        CKEDITOR.config.height = 100;
    </script>
{% endblock %}