{% extends 'NantarenaSiteBundle::layout.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="news">

        <article>
            <header>
                <h2>Téléchargement des GOTV et statistiques eBot</h2>
                <p>
                    <a href="#">Drake</a>
                    <span>11/06/2013</span>
                    <span>22h 48</span>
                </p>
            </header>


            <div class="news_content">
                <p>Bonjour à tous !</p><p>Comme promis, voici les GOTV de la Nantarena 13.2 ainsi que les statistiques (partielles) d&#39;eBot !</p><ul><li>Les GOTV :&nbsp;<a href="http://www.nantarena.net/documents/gotv.zip">http://www.nantarena.net/documents/gotv.zip</a></li></ul><p style="text-align: center;"><img alt="" src="http://i.imgur.com/0BGJ3Th.png" style="width: 334px; height: 411px;" /></p><p>Et les stats des 25 premiers :&nbsp;<a href="http://i.imgur.com/ZaoPRng.png">http://i.imgur.com/ZaoPRng.png</a></p><p>J&#39;essayerai de vous mettre en place l&#39;eBot complet plus tard.</p><p>Voilà, bon visionnage/analyse et à la prochaine !</p><p>L&#39;équipe Nantarena.</p>
            </div>

        </article>

        <article>
            <header>
                <h2>Téléchargement des GOTV et statistiques eBot</h2>
                <p>
                    <a href="#">Drake</a>
                    <span>11/06/2013</span>
                    <span>22h 48</span>
                </p>
            </header>


            <div class="news_content">
                <p>Bonjour à tous !</p><p>Comme promis, voici les GOTV de la Nantarena 13.2 ainsi que les statistiques (partielles) d&#39;eBot !</p><ul><li>Les GOTV :&nbsp;<a href="http://www.nantarena.net/documents/gotv.zip">http://www.nantarena.net/documents/gotv.zip</a></li></ul><p style="text-align: center;"><img alt="" src="http://i.imgur.com/0BGJ3Th.png" style="width: 334px; height: 411px;" /></p><p>Et les stats des 25 premiers :&nbsp;<a href="http://i.imgur.com/ZaoPRng.png">http://i.imgur.com/ZaoPRng.png</a></p><p>J&#39;essayerai de vous mettre en place l&#39;eBot complet plus tard.</p><p>Voilà, bon visionnage/analyse et à la prochaine !</p><p>L&#39;équipe Nantarena.</p>
            </div>
        </article>

        <article>
            <header>
                <h2>Téléchargement des GOTV et statistiques eBot</h2>
                <p>
                    <a href="#">Drake</a>
                    <span>11/06/2013</span>
                    <span>22h 48</span>
                </p>
            </header>


            <div class="news_content">
                <p>Bonjour à tous !</p><p>Comme promis, voici les GOTV de la Nantarena 13.2 ainsi que les statistiques (partielles) d&#39;eBot !</p><ul><li>Les GOTV :&nbsp;<a href="http://www.nantarena.net/documents/gotv.zip">http://www.nantarena.net/documents/gotv.zip</a></li></ul><p style="text-align: center;"><img alt="" src="http://i.imgur.com/0BGJ3Th.png" style="width: 334px; height: 411px;" /></p><p>Et les stats des 25 premiers :&nbsp;<a href="http://i.imgur.com/ZaoPRng.png">http://i.imgur.com/ZaoPRng.png</a></p><p>J&#39;essayerai de vous mettre en place l&#39;eBot complet plus tard.</p><p>Voilà, bon visionnage/analyse et à la prochaine !</p><p>L&#39;équipe Nantarena.</p>
            </div>
        </article>

        <p class="text-center"><a href="#" class="btn">Voir toutes les actualités</a></p>

    </div>
{% endblock %}
