<h3>{% block module_title %}{{ module_title }}{% endblock %}</h3>

{% block module_links %}
<ul>
    {% for name, link in module_links %}
        {% if is_granted(link.role) %}
            <li><a href="{{ link.url }}">{{ name }}</a></li>
        {% endif %}
    {% endfor %}
</ul>
{% endblock %}
