{% extends 'NantarenaAdminBundle::layout.html.twig' %}

{% block title 'admin.dashboard.title'|trans %}
{% block page_title 'admin.dashboard.page_title'|trans %}

{% block admin_backlink %}{% endblock %}

{% block admin_content %}
    {% for module in modules %}
        <div class="module">
            {{ module|raw }}
        </div>
    {% endfor %}
{% endblock %}
