<aside class="span3">

    <div id="tournamentWidget" class="widget">
        <h4>Inscriptions aux tournois</h4>

        <div>
            <ul>
                <li>
                    <p><a href="#">League of Legends</a></p>
                    <div class="progress ttip" data-title="13/24 équipes validées" data-placement="bottom">
                        <div class="bar" style="width: 60%"></div>
                    </div>
                </li>
                <li>
                    <p><a href="#">Counter-Strike: Global Offensive</a></p>
                    <div class="progress ttip" data-title="13/24 équipes validées" data-placement="bottom">
                        <div class="bar" style="width: 30%"></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div id="forumWidget" class="widget">
        <h4>Derniers messages du forum</h4>

        <div>
            <ul>
                <li>
                    <p class="topic new">> <a href="#">Sujet du forum non lu</a></p>
                    <p class="infos">
                        par <a href="#">Auteur1</a>
                        le <span>08/06/13 à 17h 50</span>
                    </p>
                </li>
                <li>
                    <p class="topic"><a href="#">Sujet du forum 1</a></p>
                    <p class="infos">
                        par <a href="#">Auteur1</a>
                        le <span>08/06/13 à 17h 50</span>
                    </p>
                </li>
                <li>
                    <p class="topic"><a href="#">Sujet du forum 1</a></p>
                    <p class="infos">
                        par <a href="#">Auteur1</a>
                        le <span>08/06/13 à 17h 50</span>
                    </p>
                </li>
                <li>
                    <p class="topic"><a href="#">Sujet du forum 1</a></p>
                    <p class="infos">
                        par <a href="#">Auteur1</a>
                        le <span>08/06/13 à 17h 50</span>
                    </p>
                </li>
                <li>
                    <p class="topic"><a href="#">Sujet du forum 1</a></p>
                    <p class="infos">
                        par <a href="#">Auteur1</a>
                        le <span>08/06/13 à 17h 50</span>
                    </p>
                </li>
                <li>
                    <p class="topic new">> <a href="#">Sujet du forum non lu</a></p>
                    <p class="infos">
                        par <a href="#">Auteur1</a>
                        le <span>08/06/13 à 17h 50</span>
                    </p>
                </li>
                <li>
                    <p class="topic"><a href="#">Sujet du forum 1</a></p>
                    <p class="infos">
                        par <a href="#">Auteur1</a>
                        le <span>08/06/13 à 17h 50</span>
                    </p>
                </li>
                <li>
                    <p class="topic"><a href="#">Sujet du forum 1</a></p>
                    <p class="infos">
                        par <a href="#">Auteur1</a>
                        le <span>08/06/13 à 17h 50</span>
                    </p>
                </li>
                <li>
                    <p class="topic"><a href="#">Sujet du forum 1</a></p>
                    <p class="infos">
                        par <a href="#">Auteur1</a>
                        le <span>08/06/13 à 17h 50</span>
                    </p>
                </li>
                <li>
                    <p class="topic"><a href="#">Sujet du forum 1</a></p>
                    <p class="infos">
                        par <a href="#">Auteur1</a>
                        le <span>08/06/13 à 17h 50</span>
                    </p>
                </li>
            </ul>
        </div>
    </div>

</aside>
