<div class="news-comment">
    <div class="news-comment-info">
        {% if app.user == comment.author or is_granted('ROLE_ADMIN') %}
            <p class="pull-right">
                <a href="{{ comment_delete_path(comment) }}" class="btn btn-small">{{ 'news.comment_embed.delete'|trans }} <i class="icon-trash"></i></a>
            </p>
        {% endif %}
        <p>
            {{ 'news.comment_embed.informations'|trans({'%author%': comment.author, '%date%': comment.date|date('d-m-Y à H:i')}) }}
        </p>
    </div>
    <p class="new-comment-content">
        {{ comment.content|nl2br }}
    </p>
</div>