{% extends 'NantarenaNewsBundle::layout.html.twig' %}

{% block title 'news.index.title'|trans %}

{% block page_title 'news.index.title'|trans %}

{% block body %}
    {% include 'NantarenaNewsBundle:News:paginator.html.twig' %}
    <div class="news">
        {% for entity in news %}
            {% embed 'NantarenaNewsBundle:News:_news.html.twig' with {'news': entity} %}
            {% endembed %}
        {% else %}
            <p>
                {{ 'news.index.no_results'|trans }}
            </p>
        {% endfor %}
    </div>
    {% include 'NantarenaNewsBundle:News:paginator.html.twig' %}
{% endblock %}