{% extends 'NantarenaNewsBundle::layout.html.twig' %}

{% block title 'news.index.title'|trans %}

{% block page_title 'news.index.title'|trans %}

{% block body %}
    {{ render(controller('NantarenaNewsBundle:Category:categories')) }}
    {{ knp_pagination_render(pagination) }}
    <div class="news">
        {% for entity in pagination %}
            {% embed 'NantarenaNewsBundle:News:_news.html.twig' with {'news': entity} %}
            {% endembed %}
        {% else %}
            <p>
                {{ 'news.index.no_results'|trans }}
            </p>
        {% endfor %}
    </div>
    {{ knp_pagination_render(pagination) }}
{% endblock %}