{% extends 'NantarenaNewsBundle::layout.html.twig' %}

{% block title 'news.show.title'|trans({'%title%': news.title}) %}

{% block page_title 'news.show.title'|trans({'%title%': news.title}) %}

{% block news_content %}
    <div class="news">
        {% embed 'NantarenaNewsBundle:News:_news.html.twig' with {'news': news} %}
            {% block news_title %}{% endblock %}
            {% block news_footer_links %}{% endblock %}
        {% endembed %}
    </div>

    <div class="news-comments">
        <h2>{{ 'news.show.comments.title'|trans }}</h2>

        <div id="comments">
            {% for comment in news.comments %}
                {% embed 'NantarenaNewsBundle:News:_comment.html.twig' with {'comment': comment} %}
                {% endembed %}
            {% else %}
                <p>
                    {{ 'news.show.comments.no_results'|trans }}
                </p>
            {% endfor %}
        </div>
    </div>

    {% embed 'NantarenaNewsBundle:Form:_comment.html.twig' with {'submit': 'news.form.comment.create.submit'|trans} %}
    {% endembed %}
{% endblock %}