h2 {
    font-family: 'Lato';
    font-weight: normal;
    text-align: center;
    font-size: 22px;
    color: #51565B;
    margin-top: 0;
    margin-bottom: 20px;
}

/* Box Informations */
    div.infos {
        border: #CCC 2px solid;
        border-radius: 10px;
        width: 50%;
        margin: auto;
        padding: 5px;
        margin-bottom: 30px;
    }

    div.infos .cover {
        height: 340px;
        text-align: center;
        line-height: 340px;
    }

    div.infos .cover img {
        height: 100%;
    }

    div.infos ul {
        list-style-type: none;
        padding-top: 10px;
        margin: 0;
        text-align: center;
    }

    div.infos ul li {
        line-height: 20px;
        padding-bottom: 10px;
    }

    div.infos.infos-cover {
        width: 80%;
    }

    div.infos.infos-cover ul {
        text-align: left;
        padding-top: 20px;
    }

    div.infos.infos-cover ul li {
        line-height: 40px;
        padding-left: 40px;
        padding-bottom: 10px;
    }

    div.infos.infos-cover ul li strong {
        display: block;
        margin-left: -40px;
        line-height: 50%;
    }

/* Box tournoi */
    section.tournament {
        width: 90%;
        margin: auto;
        margin-bottom: 30px;
    }

    section.tournament header {
        background: url("../images/widget.png");
        border-radius: 10px;
        padding-bottom: 8px;
    }

    section.tournament header h3 {
        background: url("../images/menu.png") repeat-x;
        border-radius: 10px 10px 0px 0px;
        color: white;
        font-family: 'Lato';
        font-size: 16px;
        text-align: center;
        height: 38px;
        padding-top: 7px;
        margin-bottom: 0px;
        line-height: 20px;
        position: relative;
    }

    section.tournament header h3 span {
        position: absolute;
        right: 10px;
        font-size: 0.8em;
        color: #AAA;
        padding-top: 1px;
    }

    section.tournament header ul {
        list-style-type: none;
        margin: 0;
        padding-left: 20px;
    }

    section.tournament header .progress {
        margin-right: 20px;
        margin-bottom: 1px;
    }

    section.tournament header .progress .bar {
        background-color: #346CA0;
        background-image: none;
    }

    section.tournament header p {
        text-align: center;
        margin: 0;
        font-size: 0.9em;
    }

    section.tournament .teams {
        width: 95%;
        margin: auto;
        border: #CCC 2px solid;
        border-top: none;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

section.tournament .team h4 {
    margin: 0;
    text-align: center;
    font-size: 15px;
    line-height: 30px;
    background-color: #DDD;
    border-top: 1px #CCC solid;
}

section.tournament .team ul {
    list-style-type: none;
    margin: 0;
    height: 30px;
    font-size: 0.9em;
}

section.tournament .team li {
    float: left;
    width: 20%;
    text-align: center;
}

section.tournament .team li.captain {
    font-weight: bold;
}
