{% extends 'NantarenaAdminBundle::layout.html.twig' %}

{% block title 'news.admin.edit.title'|trans %}

{% block page_title 'news.admin.edit.title'|trans %}

{% block admin_content %}
    {% embed 'NantarenaNewsBundle:Form:_news.html.twig' with {'form': form} %}
        {% block form_news_legend %}{{ 'news.form.edit.legend'|trans }}{% endblock %}
        {% block form_news_actions %}
            <div class="control-group">
                <div class="controls">
                    <input type="submit" class="btn btn-primary" value="{{ 'news.form.edit.submit'|trans }}" />
                    <input type="reset" class="btn" value="{{ 'news.form.edit.reset'|trans }}" />
                </div>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}