p.post-edited {
    font-size: x-small;
    font-style: italic;
    margin-top: 10px;
}

tr.forum-table-header {
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
}

tr.forum-table-header td, tr.forum-table-header th {
    background-color: #f9f9f9;
}

div.forum-post-content {
    min-height: 100px;
}

div.forum-control {
    /*padding: 20px 0;*/
}

th.thread-column {
    width: 60%;
}

th.posts-column {
    width: 10%;
}

th.activity-column {
    width: 30%;
}

th.infos-column {
    width: 15%;
}

th.content-column {
    width: 85%
}