/* Dashboard */
    div.module {
        border: solid darkgrey 1px;
        padding: 5px;
        text-align: center;
        border-radius: 10px;
        background: rgba(200,200,200,0.3);
        width: 48%;
        float: left;
        margin: 5px;
    }

    div.module h3 {
        color: #51565B;
        font-family: 'Lato';
        margin: 0;
    }

    div.module ul {
        list-style-type: none;
        margin: 0;
    }

    p.backlink {
        position: absolute;
        right: 15%;
        top: 175px;
    }

/* Style pour les tableaux */
    table th.tiny, table td.tiny {
        width: 30px;
    }

    table th.mini, table td.mini {
        width: 80px;
    }

    table input.filter,
    table select.filter {
        max-width: 150px;
        width: auto;
    }
