    div.banner-overview {
        height: 245px;
        width: 60%;
        margin:auto;
        border: 1px solid black;
        background: url('../images/banner.png') repeat-x;
    }

    div.banner-overview-update {
        margin-top: 20px;
        margin-bottom: 15px;
    }

    div.banner-overview .item {
        height: 100%;
        text-align: center;
        overflow: hidden;
    }

    div.banner-overview .item span {
        height: 100%;
        vertical-align: middle;
        display: inline-block;
    }

    div.banner-overview .banner-data {
        text-align: center;
        width: 90%;
        vertical-align: middle;
        display: inline-block;
        position: relative
    }
