{% extends 'NantarenaForumBundle::layout.html.twig' %}

{% block title 'forum.thread.reply.title'|trans({'%thread%': thread.name}) %}

{% block forum_content %}
    <h2>
        {{ 'forum.thread.reply.title'|trans({'%thread%': thread.name}) }}
    </h2>

    <p>
        {{ 'forum.thread.reminder'|trans }}
    </p>

    {% embed 'NantarenaForumBundle:Form:_post.html.twig' with {'submit': 'forum.form.post.reply.submit'|trans} %}
    {% endembed %}

    <h2>{{ 'forum.thread.reply.last_posts'|trans }}</h2>

    <table class="table">
        {% for post in last %}
            {% include 'NantarenaForumBundle:Post:_post.html.twig' %}
        {% endfor %}
    </table>
{% endblock %}