{% extends 'NantarenaSiteBundle::layout.html.twig' %}

{% if form is defined %}
    {% form_theme form with 'NantarenaSiteBundle:Form:standard_layout.html.twig' %}
{% endif %}

{% block stylesheets %}
    {% stylesheets filter='cssrewrite' 'bundles/nantarenaadmin/css/*' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block raw_body %}
    {% set block_page_title = block('page_title') %}
    {% if block_page_title is not empty %}
        <h1>{{ block_page_title|raw }}</h1>
    {% endif %}

    {% include 'NantarenaSiteBundle::_flashbag.html.twig' %}

    <div>
        {% block admin_content %}
        {% endblock admin_content %}
    </div>
{% endblock %}
