{% extends 'NantarenaSiteBundle::layout.html.twig' %}

{% block stylesheets %}
    {% stylesheets filter='cssrewrite' 'bundles/nantarenaadmin/css/*' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block banner %}{% endblock %}

{% block raw_body %}
    {% set block_page_title = block('page_title') %}
    {% if block_page_title is not empty %}
        <h1>{{ block_page_title|raw }}</h1>
    {% endif %}

    {% block admin_backlink %}
        <p class="backlink">
            <a class="label text-center" href="{{ path('nantarena_admin_index') }}">Retour au panneau<br />d'administration</a>
        </p>
    {% endblock %}

    {% include 'NantarenaSiteBundle::_flashbag.html.twig' %}

    <div class="container">
        {% block admin_content %}
        {% endblock admin_content %}
    </div>
{% endblock %}


{% block javascripts %}
    {% javascripts '@NantarenaAdminBundle/Resources/public/js/*' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
