<div id="banner">
    <div class="container">
        <div class="une">
            <div class="item">
                <span></span>
                <div class="une_news">
                    {{ content |raw  }}
                </div>
            </div>
        </div>

        <div class="sponsors carousel slide carousel-fade" id="car_sponsors">

            <!-- <ol class="carousel-indicators">
                <li data-target="#car_sponsors" data-slide-to="0" class="active"></li>
                <li data-target="#car_sponsors" data-slide-to="1"></li>
            </ol> -->

            <div class="carousel-inner">

                {% for slide in slides %}
                    {% if loop.index0 == num %}
                    <div class="active item">
                    {% else %}
                    <div class="item">
                    {% endif %}

                        <span></span>
                        <div class="sponsor">
                            {{ slide.content | raw }}
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
</div>
