div.news-categories ul {
    padding: 10px;
    margin: 0;
    border: 1px solid #dddddd;
    background-color: #f9f9f9;
}

div.news-categories ul li {
    display: inline;
}

.news article {
    margin-bottom: 30px;
}

.news article header {
    background: url("../images/dark.png");
    color: white;
    border-radius: 10px;
    padding-left: 10px;
    position: relative;
}

.news article header h2 {
    font-size: 20px;
    text-align: left;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

.news article header p {
    float: right;
    height: 50px;
    background: url("../images/widget.png");
    width: 80px;
    position: absolute;
    top: -5px;
    right: 20px;
    border-radius: 5px;
    font-size: 12px;
    text-align: center;
    line-height: 16px;
    color: black;
    border: 1px solid #AAA;
}

.news article footer p.news-category {
    border: 1px solid #dddddd;
    background-color: #f9f9f9;
    padding: 10px;
}

.news article footer p.news-links {
    padding: 7px;
}

.news article .news-content {
    min-height: 200px;
    text-indent: 20px;
    padding: 20px;
}

.news p.no-results {
    padding: 10px;
    text-align: center;
}

div.news-comment-info {
    border: 1px solid #dddddd;
    background-color: #f9f9f9;
    padding: 10px;
}

div.news-comment-info p {
    margin: 0;
    padding: 0;
}

div.news-comment-info p a {
    margin-top: -3px;
}

p.new-comment-content {
    padding: 10px;
}
