<div class="span10">
    {{ form_start(form) }}
        {{ form_row(form.content, {'label': 'forum.entity.post.content'|trans|colon}) }}
        {{ form_row(form.submit, {'label': submit}) }}
    {{ form_end(form) }}
</div>