{% extends 'NantarenaPaymentBundle::PaymentProcess/layout.html.twig' %}

{% block title 'payment.index.title'|trans %}

{% block page_title 'payment.index.title'|trans %}

{% block payment_process %}

	<p>Votre paiement ne se passe pas très bien...</p>

{% endblock %}