{% extends 'NantarenaPaymentBundle::PaymentProcess/layout.html.twig' %}

{% block title 'payment.index.title'|trans %}

{% block page_title 'payment.index.title'|trans %}

{% block payment_process %}

	<p>Vous avez payé</p>

	<p>Merci</p>

{% endblock %}