<div class="span9 offset1">
    {{ form_start(form) }}
        {{ form_row(form.content, {'label': 'news.form.comment.create.content'|trans|colon}) }}
        {{ form_row(form.submit, {'label': submit}) }}
    {{ form_end(form) }}
</div>